  <div id="pipeline-form">
   <form action="#" method="post">
     <p>Choose your favourite dessert:</p>
     <select id="dessert">
      <option> Apple Pie</option>
      <option>Key Lime</option>
      <option>Elclair</option>
      <option> Cheesecake</option>
      <option>Banana Pudding</option>
     </select>
     <button type="button" id="api-example">Run the pipeline</button>
   </form>
  </div>
  <div id="pipeline-after" style="display:none;">
   <p id="api-output">Please stand by .. </p>
  </div>
